.nav .link {
  color: white;
  text-decoration: none;
}

#hamnav {
  position: sticky;
  top: 0;
}

.nav #hamitems {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1.2rem;
  flex-wrap: wrap;
}

.nav li {
  list-style-type: none;
}
.nav .link:hover {
  color: var(--color-teal);
}

.navfooter {
  display: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px) {
  .nav #hamitems {
    display: none;
  }

  .navfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
  }

  .nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 20%;
    overflow: hidden;
    /* white-space: nowrap; */
    font-family: sans-serif;
    font-size: 0.55rem;
    text-transform: uppercase;
    color: var(--color-dark-blue);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
  }

  .nav__link:hover {
    background-color: #eeeeee;
  }

  .nav__link--active {
    color: var(--color-teal);
  }

  .nav__icon {
    font-size: 18px;
  }
}
